.indexTitle {
    text-decoration-color: black;
    color: #FFFBE3;
    font-style: bold;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    background-color: #8DADA6;
    padding: 35px;
    margin: 0;
}

html {
    background-color: #DAE8CF;
}

.home {
    color: #FFFBE3;
    padding: 0px 20px;
    margin: 0;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-new {
    color: #FFFBE3;
    padding: 0px 20px;
    align-self: auto;
    margin: 0;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login {
    float: right;
    color: #FFFBE3;
    padding: 0px 20px;
    align-self: right;
    margin: 0;
    text-align: right;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sign-up {
    float: right;
    color: #FFFBE3;
    padding: 0px 20px;
    align-self: auto;
    margin: 0;
    text-align: right;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.log-sign {
    text-align: right;
}

.topnav {
    background-color: #3f837a;
    text-align: inherit;
    display: block;
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.labels {
    margin: 1px 25px;
    color: #2F4F4F;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-evenly;
    font-family: fantasy;
    font-weight: bolder;
    font-size: 20px;
}

.button {
   margin: 20px;
   font-size: 25px;
   &:hover {
       cursor: pointer;
       color: forestgreen;
   }

}

.new-produce-form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;

}

body {
    margin: 0;
}

.formpage-div {
    display: flex;
    justify-content: left;
}
