<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>New Weird Fruit or Vegetable Form</title>
</head>
<body>
<h2>Please Enter your new Odd Fruit or Vegetable</h2>
<form action="/produce/new" method="POST" th:object="${produce}">
  <div>
    <label for="imageUrl">Image URL</label>
    <input type="text" id="imageUrl" th:field="*{imageUrl}">
    <p th:errors="*{imageUrl}"></p>
  </div>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" th:field="*{name}">
      <p th:errors="*{name}"></p>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea type="text" id="description" th:field="*{description}">
    </textarea>
      <p th:errors="*{description}"></p>
    </div>
    <div>
      <select th:field="*{foodType}">
        <option th:value="Fruit" th:text="Fruit"></option>
        <option th:value="Vegetable" th:text="Vegetable"></option>
        <option th:value="Other" th:text="Other"></option>
      </select>
    </div>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
